<h3>Your Short URL:</h3>

<div id="url-wrapper" class="clearfix">
  <input type="text" name="shortened-url" id="shortened-url" readonly="readonly" value="#{shortened_url}" />
  <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
              width="110"
              height="14"
              id="clippy" >
      <param name="movie" value="/clippy.swf"/>
      <param name="allowScriptAccess" value="always" />
      <param name="quality" value="high" />
      <param name="scale" value="noscale" />
      <param NAME="FlashVars" value="text=#{shortened_url}">
      <param name="bgcolor" value="#FFFFFF">
      <embed src="/clippy.swf"
             width="110"
             height="14"
             name="clippy"
             quality="high"
             allowScriptAccess="always"
             type="application/x-shockwave-flash"
             pluginspage="http://www.macromedia.com/go/getflashplayer"
             FlashVars="text=#{shortened_url}"
             bgcolor="#FFFFFF" />
      </object>
</div>
